
body{
    color: #292929;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Spectral', serif;*/
}
/*
#757575
#E6E6E6
*/
h2{
    font-weight: 700;
}
h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #757575;
}
h4{
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    margin-left: 8px;
}
a{
    text-decoration: none;
    color: #191919;
}
header{   
background-color: #ffc117;
}
header a{
  }
strong{
    font-weight: 700;
}
button{
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
#menu-wrapper{
    border-bottom: 1px solid #000;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 300ms linear;
    z-index: 1;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.menu-content{
    max-width: 1192px;
}
*/
#menu {
    box-sizing: border-box;
    height: 75px;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1192px;
}
#menu nav a{
    margin-right: 25px;
}
#menu nav a:last-child{
    background-color: #191919;
    border: 1px solid #191919;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 16px 9px;
    
}

#menu-wrapper.bg-white{
    background-color: #fff;
/*    transition: background-color 300ms linear;*/
}
#menu-wrapper.bg-white nav a:last-child{
    color: #fff;
    background-color: #1a8917;
}

#hero{
    position: relative;
    padding-top: 75px;
}
#hero .hero-container{
    display: flex;
    justify-content: center;

}
#hero .hero-container > div{
    display: flex;
    margin: 0 64px;
    max-width: 1192px;
    width: 100%;
}
#hero .hero-svg{
    position: absolute;
    width: 585px;
    right: 0;
}
#hero .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    padding-block: 92px;
}

#hero .hero-content h2{
    font-family: 'Spectral', serif;
    font-size: 106px;
    color: #080808;
    letter-spacing: -0.05em;
    margin-bottom: 35px;
}
#hero .hero-content h3 {
    font-size: 24px;
    color: #292929;
    margin-bottom: 50px;
    width: 80%;
    line-height: 24px;
}
#hero .hero-content button {
    padding: 7px 20px 9px;
    width: 213px;
    font-size: 20px;
    box-sizing: border-box;
    border-color: #191919;
    background-color: #191919;
    border-radius: 100px;
    color: #fff;
}
#trends{
    display: flex;
    justify-content: center;
}
#trends > div{
    margin: 0 64px;
    max-width: 1192px;
    width: 100%;
}
.trends-title{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 16px;
}
.trends-container{
    padding-top: 40px;
    padding-bottom: 16px;
}
.trends-content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.trending{
    box-sizing: border-box;
    padding-inline: 10px;
    max-width: 33.33%;
    flex-grow: 1;
}
.trending-post{
    display: flex;
    margin-bottom: 24px;
}
.trending-position{
    position: relative;
    top: -10px;
    color: #E6E6E6;
    margin-right: 16px;
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
}
.trending-author{
    display: flex;
    align-items: center;
}
.trending-author img{
    border-radius: 50%;
}
.trending-content{
    display: flex;
    flex-direction: column;
}
.trending-content a{
    margin-bottom: 8px;
}
.trending-date{
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
#posts{
    display: flex;
    justify-content: center;
    border-top: 1px solid #e6e6e6;
    padding-top: 56px;
}
#posts > div {
    margin: 0 64px;
    max-width: 1192px;
    width: 100%;
    display: flex;
}
article{
    display: flex;
    margin-bottom: 40px;
}
.post-author{
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}
.post-author img {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    vertical-align: middle;
}
.post-content h2 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}
.post-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
    text-overflow: ellipsis;
}
.post-tag{
    padding: 4px 8px;
    transition: background 300ms ease 0s;
    background-color: #f2f2f2;
    line-height: 20px;
    border-radius: 100px;
    font-size: 13px;
}
.post-tag:hover{
    background-color: #e6e6e6;
}
.post-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #757575;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.post-thumb{

}
.post-thumb img{
    width: 200px;
    height: 134px;

}

.discover-container{
    padding-bottom: 32px; /*24*/
    border-bottom: 1px solid #e6e6e6;
}

.discover-container h2{
    margin-bottom: 16px;
    font-size: 16px;
}
.discover-content a{
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding: 6px 16px;
    font-size: 13px;
}
.discover-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    padding: 24px 0;
    color: #757575;
    gap: 10px;
}
.tags a{
    font-size: 14px;
    line-height: 20px;
}

.side{
    position: sticky;
    top: 75px;
    box-sizing: border-box;
    max-width: 40%;
    padding-left: 100px;
}