*, *::after,*::before{
    box-sizing: border-box;
}
body{
    color: #757575;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-weight: 700;
    color: #292929;
}
h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #757575;
}
h4{
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    margin-left: 8px;
}
a{
    text-decoration: none;
    color: #757575;
    /*color: #191919;*/
}
img {
    display: block;
}
strong{
    font-weight: 700;
    color: #292929;
}
button{
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.wrapper{

    border-bottom: 1px solid #000;
}
.container{
    max-width: 1320px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}
.content{
    margin-inline: 64px;
}
@media screen and (max-width: 992px) { 


}

@media screen and (max-width: 768px) { 
    .content{
        margin-inline: 24px;
    }
}