#hero{
    position: relative;
    padding-top: 75px;
    background-color: #ffc117;
}
#hero .hero-svg{
    position: absolute;
    width: 585px;
    right: 0;
}
#hero .container{
    justify-content: flex-start;
}

#hero .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    padding-block: 92px;
}

#hero .content h2{
    font-family: 'Spectral', serif;
    font-size: 106px;
    line-height: 95px;
    color: #080808;
    letter-spacing: -0.05em;
    margin-bottom: 35px;
}
#hero .content h3 {
    font-size: 24px;
    color: #292929;
    margin-bottom: 50px;
    width: 80%;
    line-height: 24px;
}
#hero .content button {
    padding: 7px 20px 9px;
    width: 213px;
    font-size: 20px;
    border-color: #191919;
    background-color: #191919;
    border-radius: 100px;
    color: #fff;
}
@media screen and (max-width: 1135px) { 
    #hero .hero-svg{
        right: -130px;
    }
}

@media screen and (max-width: 992px) { 
    #hero .hero-svg{
        right: -250px;
    }
    #hero .content h2{
        font-size: 85px;
        line-height: 88px;
        letter-spacing: -0.055em;
        margin-bottom: 35px;
    }

}

@media screen and (max-width: 768px) { 
    #hero .hero-svg {
        display: none;
    }
}

@media screen and (max-width: 576px) { 

}